:root {
  --color-1: #FFFFFF ;
  --color-2: #323232;
  --color-3: #187498;
  --color-4: #36AE7C;
  --color-5: #F9D923;
  --color-6: #EB5353;
  --color-7: #006E7F;
  --color-8: #F8CB2E;
  --color-9: #EE5007;
  --color-10: #B22727;
  --color-11: #727272;
}

* , *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
}

h1 {
  display: block;
  font-size: 5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 0.3;
}

h2 {
  display: inline;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 1;
}

.button {
  background-color:var(--color-3); /* gainsboro;*/ 
  color: gainsboro;
  text-align: center; 
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  width: 150px;
  border-radius: 54px;
  position: relative;
  transition: all 0.3s ease;
  border: none;
}

.button:hover {
  background-color: #4E91A4;
  color: gainsboro;
  font-weight: bold;
  box-shadow: 0px 30px 50px -25px #ad3500 !important;
  cursor: pointer;
  width: +170px;
  height: +40px;
  opacity: 0.89; 
}

#section-one {
  width: 500px;
  background-color: #323232;
  text-align: center;
  color:#FFFFFF;
}

.container {
  margin: 10px;
  text-align: center;
  display: inline;
  align-items: center;
  
}

.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-self: center;
  grid-template-areas:
    "Introduccion"
    "Data"
    "Formulario";
}

.Introduccion {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.09fr, 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Presentación"
    "Espaciador"
    "Pregunta";
  grid-area: Introduccion;
}

.Presentación { grid-area: Presentación; }

.Espaciador { grid-area: Espaciador; }

.Pregunta { grid-area: Pregunta; }

.Data {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Face"
    "Color"
    "Pointer"
    "Pics"
    "places"
    "Languages"
    "Video"
    "Achievements"
    "Redes";
  grid-area: Data;
}

.Face { grid-area: Face; }

.Color { grid-area: Color; }

.Pointer { grid-area: Pointer; }

.Pics { grid-area: Pics; }

.places { grid-area: places; }

.Languages { grid-area: Languages; }

.Video { grid-area: Video; }

.Achievements { grid-area: Achievements; }

.Redes {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Instagram Facebook Twitter";
  grid-area: Redes;
}

.Instagram { grid-area: Instagram; }

.Facebook { grid-area: Facebook; }

.Twitter { grid-area: Twitter; }

.Formulario {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Imagen";
  grid-area: Formulario;
}

.Imagen { grid-area: Imagen; }


html, body , .container {
  height: 100%;
  margin: 0;
}

.container * {
  /* border: 1px solid red; */
  position: relative;
  
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content:space-around;
}

.Presentación{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #141b21;
  color: var(--color-1);
}

.Espaciador{
  position:fixed;
  bottom: 1;
  left: 0;
  right: 0;
  margin: 3px;
  border-radius: 10%;
  background-color:  var(--color-3);
  padding-top:0.5%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content:space-around; 
}

.Pregunta{
  color: var(--color-2);
  background-color: var(--color-4);
}

.Face{
  background-color: var(--color-5);
}

.Color{
  background-color: var(--color-6);
}

.Pointer{
  background-color: var(--color-7);
}

.Pics{
  background-color: var(--color-8);
}

.places{
  background-color: var(--color-9);
}

.Languages{
  background-color: var(--color-10);
}

.Video{
  background-color: var(--color-4);
}

.Achievements{
  background-color: var(--color-7);
}

.Redes{
  background-color: var(--color-8);
}

.Formulario{
  background-color: var(--color-10);
}
